In [247]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [381]:
data = pd.read_csv('movie_bd_v5.xls',sep = '\t', encoding='koi8-r', delimiter = ',')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
264,tt0327597,60000000,124596398,Coraline,Dakota Fanning|Teri Hatcher|Jennifer Saunders|...,Henry Selick,Be careful what you wish for.,"When Coraline moves to an old house, she feels...",100,Animation|Family,Focus Features|Laika Entertainment,2/5/2009,7.1,2009
858,tt1440345,25000000,11790979,This Must Be the Place,Sean Penn|Frances McDormand|Judd Hirsch|Eve He...,Paolo Sorrentino,Never for money. Always for love.,"A bored, retired rock star sets out to find hi...",118,Drama,ARP Sц┐б╘lection|Lucky Red|Indigo Film|Medusa ...,10/1/2011,6.3,2011
752,tt0478304,32000000,54674226,The Tree of Life,Brad Pitt|Sean Penn|Jessica Chastain|Hunter Mc...,Terrence Malick,Nothing stands still.,The impressionistic story of a Texas family in...,139,Drama|Fantasy,Fox Searchlight,5/18/2011,6.5,2011
290,tt1152836,80000000,214104620,Public Enemies,Christian Bale|Johnny Depp|Giovanni Ribisi|Bil...,Michael Mann,America's Most Wanted.,Depression-era bank robber John Dillinger's ch...,140,History|Crime|Drama,Universal Pictures|Appian Way|Forward Pass|Den...,7/1/2009,6.5,2009
956,tt0285462,20000000,8586376,Boat Trip,Cuba Gooding Jr.|Horatio Sanz|Roselyn Sц┐б║nch...,Mort Nathan,"... once you're on, you'll want to get off...","Two straight men mistakenly end up on a ""gays ...",94,Comedy,Motion Picture Corporation of America|Artisan ...,10/1/2002,4.5,2002

In [382]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [383]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#add a column to the dataset with information about the total profit or loss of the movie
data ['profit'] = data['revenue'] - data['budget']

#the time given in the dataset is in string format.
#So we need to change this in datetime format by adding a new column
data['release_date_1'] = pd.to_datetime(data['release_date'])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [384]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650) +'
# если ответили верно, можете добавить комментарий со значком "+"

In [252]:
# тут пишем ваш код для решения данного вопроса:
data.loc[data['budget'] == data['budget'].max(),'original_title'].values[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [201]:
# можно добавлять разные варианты решения
data[(data.budget == data.budget.max())].original_title.describe()

count                                               1
unique                                              1
top       Pirates of the Caribbean: On Stranger Tides
freq                                                1
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [385]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111) +'

In [254]:
data.loc[(data.runtime == data.runtime.max()),'original_title'].values[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [386]:
answers['3'] = 'Winnie the Pooh (tt1449283) +'

data.loc[(data.runtime == data.runtime.min()),'original_title'].values[0]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [387]:
answers['4'] = '110 +'

round (data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [388]:
answers['5'] = '107 +'

round (data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [389]:
answers['6'] = 'Avatar (tt0499549) +'

# лучше код получения столбца profit вынести в Предобработку что в начале
grouped_data = data.groupby(['original_title'])['profit'].sum().sort_values(ascending=False)
print(grouped_data.head(1))

original_title
Avatar    2544505847
Name: profit, dtype: int64

# 7. Какой фильм самый убыточный?

In [390]:
answers['7'] = 'The Lone Ranger (tt1210819) +'

grouped_data = data.groupby(['original_title'])['profit'].sum().sort_values(ascending=True)
print(grouped_data.head(1))

original_title
The Lone Ranger   -165710090
Name: profit, dtype: int64

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [391]:
answers['8'] = '1478 +'

len (data[data.profit > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [392]:
answers['9'] = 'The Dark Knight (tt0468569) +'

df1 = data.loc[data['release_year'].isin(['2008'])].pivot_table(values=['revenue'],
index=['release_year'],
columns=['original_title'],
aggfunc='max')
df1.max().sort_values(ascending=False)

         original_title
revenue  The Dark Knight                                       1001921825
         Indiana Jones and the Kingdom of the Crystal Skull     786636033
         Kung Fu Panda                                          631744560
         Hancock                                                624029371
         Mamma Mia!                                             609841637
                                                                  ...
         What Just Happened                                       6673422
         Transsiberian                                            5926410
         The Brothers Bloom                                       5530764
         The Midnight Meat Train                                  3533227
         Mutant Chronicles                                        2033165
Length: 121, dtype: int64

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [393]:
answers['10'] = 'The Lone Ranger (tt1210819) +'

df = data.loc[data['release_year'].isin(['2012','2013','2014'])].pivot_table(values=['profit'],
index=['release_year'],
columns=['original_title'],
aggfunc='sum')
df.min().sort_values(ascending=True)

        original_title
profit  The Lone Ranger                   -1.657101e+08
        R.I.P.D.                          -6.835150e+07
        Upside Down                       -5.189352e+07
        Legends of Oz: Dorothy's Return   -5.133797e+07
        Bullet to the Head                -4.551017e+07
                                               ...
        Despicable Me 2                    8.947619e+08
        Skyfall                            9.085610e+08
        Iron Man 3                         1.015440e+09
        Frozen                             1.124219e+09
        The Avengers                       1.299558e+09
Length: 367, dtype: float64

# 11. Какого жанра фильмов больше всего?

In [394]:
answers['11'] = 'Drama +'

# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

sample1 = data.genres.str.split('|', expand = True)
sample2 = sample1.stack()
s = sample2.tolist()

data_genres = pd.Series(s)
data_genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [265]:
display(data['genres'].str.split('|').explode().value_counts())

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [395]:
answers['12'] = 'Drama +'

genres_profit = data[data.profit > 0]
sample1 = genres_profit.genres.str.split('|', expand = True)
sample2 = sample1.stack()
s = sample2.tolist()

data_genres = pd.Series(s)
data_genres.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [396]:
answers['13'] = 'Peter Jackson +'

data ['directors'] = data.director.apply(lambda s: s.split('|'))
data_1 = data.explode('directors')

data_1.groupby(by = 'directors').revenue.sum().sort_values(ascending = False)

directors
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David Michц┐б╢d         2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [397]:
answers['14'] = 'Robert Rodriguez +'

genres1 = data[data.genres.str.contains('Action', na=False)]
director1 = genres1['director'].str.split('|',expand=True).stack().value_counts()
director1.head(1)

Robert Rodriguez    9
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [398]:
answers['15'] = 'Chris Hemsworth +'

c1 = data[data.release_year == 2012][['cast', 'revenue']]
c1.cast = c1.cast.apply(lambda s: s.split('|'))
c2 = c1.explode('cast')

c2.groupby(by = 'cast').revenue.sum().sort_values(ascending = False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [399]:
answers['16'] = 'Matt Damon +'

b1 = data[(data.budget > data.budget.mean())][['cast', 'budget']]
b1.cast = b1.cast.apply(lambda s: s.split('|'))
b2 = b1.explode('cast')

b2.groupby(by = 'cast').budget.count().sort_values(ascending = False)

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: budget, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [400]:
answers['17'] = 'Action +'

n1 = data[data.cast.str.contains('Nicolas Cage', na=False)]
n1.genres = n1.genres.apply(lambda s: s.split('|'))
n2 = n1.explode('genres')

n2.groupby(by = 'genres').genres.count().sort_values(ascending = False)

C:\Users\ACCA\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

genres
Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Romance             1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [401]:
answers['18'] = 'K-19: The Widowmaker (tt0267626) +'

p1 = data[data.production_companies.str.contains('Paramount Pictures', na=False)]
p1.production_companies = p1.production_companies.apply(lambda s: s.split('|'))
p2 = p1.explode('production_companies')


pivot = p2.pivot_table(columns='production_companies', index = 'original_title', \
values = 'profit', aggfunc='sum', fill_value=0)
pivot['Paramount Pictures'].sort_values (ascending=True)

original_title
K-19: The Widowmaker                                  -64831034
Timeline                                              -60519261
Next                                                  -51788987
Alfie                                                 -46604061
Twisted                                               -24805000
                                                        ...
Mission: Impossible - Ghost Protocol                  549713380
Transformers                                          559709780
Indiana Jones and the Kingdom of the Crystal Skull    601636033
Transformers: Revenge of the Fallen                   686297228
Transformers: Dark of the Moon                        928746996
Name: Paramount Pictures, Length: 122, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [402]:
answers['19'] = '2015 +'

grouped_df = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
display(grouped_df)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [403]:
answers['20'] = '2014 +'

data.production_companies = data.production_companies.apply(lambda s: s.split('|'))
w1 = data.explode('production_companies')
w2 = w1[w1.production_companies.str.contains('Warner Bros', na=False)]

grouped_df = w2.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
display(grouped_df)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [404]:
answers['21'] = 'Сентябрь +'

data['release_date_1'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date_1'].map(lambda x:  x.month)


month_df= data.pivot_table(columns = 'month', index = 'original_title', \
values = 'revenue', aggfunc = 'count', fill_value=0)
month_df.sum().sort_values(ascending=False)

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [405]:
answers['22'] = '450 +'

data['release_date_1'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date_1'].map(lambda x: x.month)

count = 0

for i in data ['month']:
    if 6 <= i <= 8:
        count+=1
print (count)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [406]:
answers['23'] = 'Peter Jackson +'

data['release_date_1'] = pd.to_datetime(data['release_date'])
data['month'] = data['release_date_1'].map(lambda x: x.month)
data.director = data.director.apply(lambda s: s.split('|'))
data_1 = data.explode('director')


pivot = data_1.loc[data_1['month'].isin(['12', '1', '2'])].pivot_table(columns = 'director', \
index = 'original_title', values = 'revenue', aggfunc = 'count', fill_value=0)
pivot.sum().sort_values(ascending=False)

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [407]:
answers['24'] = 'Four By Two Productions +'

data = pd.read_csv('movie_bd_v5.xls',sep = '\t', encoding='koi8-r', delimiter = ',')

data['title_lenght'] = data['original_title'].map(lambda x: len(x))
data.production_companies = data.production_companies.apply(lambda s: s.split('|'))
data_2 = data.explode('production_companies')

grouped_df = data_2.groupby(['production_companies'])['title_lenght'].\
max().sort_values(ascending=False)
display(grouped_df)

production_companies
Four By Two Productions                   83
Twentieth Century Fox Film Corporation    83
Walt Disney                               62
Walden Media                              62
21 Laps Entertainment                     59
                                          ..
Berlanti Productions                       3
Everest Entertainment                      3
XM2 Productions                            2
Ixtlan Productions                         2
Global Entertainment Group                 2
Name: title_lenght, Length: 1771, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [408]:
answers['25'] = 'Midnight Picture Show +'

data = pd.read_csv('movie_bd_v5.xls',sep = '\t', encoding='koi8-r', delimiter = ',')


data['overview_lenght'] = data['overview'].map(lambda x: len(x))
data.production_companies = data.production_companies.apply(lambda s: s.split('|'))
data_3 = data.explode('production_companies')


pivot = data_3.pivot_table(columns = 'production_companies',\
values = 'overview_lenght', aggfunc = 'mean', fill_value=0)
pivot.max().sort_values(ascending=False)

production_companies
Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Crest Animation Productions               909.0
Lions Gate Family Entertainment           909.0
                                          ...
Henceforth                                 74.0
London Boulevard                           74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0
Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [409]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave +'
answers['27'] = 'Daniel Radcliffe & Rupert Grint +'

grouped_df = data.groupby(['original_title'])['vote_average'].max().\
sort_values(ascending=False)
print(grouped_df.head(round(len(grouped_df)*0.01)))

original_title
The Dark Knight                                      8.1
The Imitation Game                                   8.0
Inside Out                                           8.0
Interstellar                                         8.0
Room                                                 8.0
The Grand Budapest Hotel                             7.9
The Pianist                                          7.9
Guardians of the Galaxy                              7.9
Memento                                              7.9
The Wolf of Wall Street                              7.9
Inception                                            7.9
Gone Girl                                            7.9
12 Years a Slave                                     7.9
The Lord of the Rings: The Return of the King        7.9
Prisoners                                            7.8
The Fault in Our Stars                               7.8
Eternal Sunshine of the Spotless Mind                7.8
The Prestige                                         7.8
The Lord of the Rings: The Fellowship of the Ring    7.8
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [412]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650) +',
 '2': 'Gods and Generals (tt0279111) +',
 '3': 'Winnie the Pooh (tt1449283) +',
 '4': '110 +',
 '5': '107 +',
 '6': 'Avatar (tt0499549) +',
 '7': 'The Lone Ranger (tt1210819) +',
 '8': '1478 +',
 '9': 'The Dark Knight (tt0468569) +',
 '10': 'The Lone Ranger (tt1210819) +',
 '11': 'Drama +',
 '12': 'Drama +',
 '13': 'Peter Jackson +',
 '14': 'Robert Rodriguez +',
 '15': 'Chris Hemsworth +',
 '16': 'Matt Damon +',
 '17': 'Action +',
 '18': 'K-19: The Widowmaker (tt0267626) +',
 '19': '2015 +',
 '20': '2014 +',
 '21': 'Сентябрь +',
 '22': '450 +',
 '23': 'Peter Jackson +',
 '24': 'Four By Two Productions +',
 '25': 'Midnight Picture Show +',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave +',
 '27': 'Daniel Radcliffe & Rupert Grint +'}

In [413]:
# и убедиться что ни чего не пропустил)
len(answers)

27